html {
  height: 100%;
  width: 100%;
}
p {
  background: url('#');
  -webkit-background-clip: text;
}


h2{
  font-size: 9.0em;
  text-transform: uppercase;
  font-family: 'Open Sans Pro', sans-serif;
  background: url(img.jpg);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}